[submodule "holonight-qt"]
	path = holonight-qt
	url = git@github.com:lebedenko/holonight-qt.git
[submodule "holonight-shell"]
	path = holonight-shell
	url = git@github.com:lebedenko/holonight-shell.git
[submodule "holonight-icons"]
	path = holonight-icons
	url = git@github.com:lebedenko/holonight-icons.git
[submodule "holonight-ai"]
	path = holonight-ai
	url = git@github.com:lebedenko/holonight-ai.git
[submodule "holonight-pkg-manager"]
	path = holonight-pkg-manager
	url = git@github.com:lebedenko/holonight-pkg-manager.git
[submodule "holonight-settings"]
	path = holonight-settings
	url = git@github.com:lebedenko/holonight-settings.git
[submodule "holonightd"]
	path = holonightd
	url = git@github.com:lebedenko/holonightd.git
[submodule "holonight-appearance-adapters"]
	path = holonight-appearance-adapters
	url = git@github.com:lebedenko/holonight-appearance-adapters.git
